.content{
    position: relative;
    bottom: 0px;
    width: 300px;
    margin: 8px;
    box-shadow: 0px 0px 4px #7A7A7A;
    cursor: pointer;
}
.plan{
   
       background-color: #b1afaf;
    text-align: center;
    padding : 2px 0px;
    font-size: 20px;
  
}
.feature{
    text-align: center;

}
.price{
    text-align: center;
}

.price span{
    font-weight: 400;
    font-size: 40px;
}
.btn{
    text-align: center;
}
a{  
    display: block;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 5px;

}
.title{
    font-size: 15px;
    color: rgb(83, 82, 81);
}