body{
  font-family: sans-serif;
}
.heading{
  text-align: center;
  font-size: 40px;
}
.text{
  text-align: center;
  color: #7A7A7A;
  width: 500px;
  line-height: 1.5;
  margin: 0 auto;
}
.container{
  display: flex;
  justify-content: center;
  
}
hr{
  margin: 40px auto;
  width: 900px;
  background-color: #7A7A7A;
}
.listContainer{
 display: flex;
 justify-content: center;

}